<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlHorarioFarm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ControlHorarioFarm.My.MySettings.ConnectionString"
            connectionString="Dsn=Horarios" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ControlHorarioFarm.My.MySettings>
            <setting name="Contraseña" serializeAs="String">
                <value />
            </setting>
            <setting name="Sucursal" serializeAs="String">
                <value />
            </setting>
        </ControlHorarioFarm.My.MySettings>
    </userSettings>
</configuration>